header .nav {
  /*float: right;*/
}

.slide_text {
//  top: 35% !important;
}


.logo {
  float: right;
  //margin-right: 2em;
}
.logo img {
  height: 70px;
  margin-right: 15px;
  margin-top: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  opacity: 1;
}
#biglogo {
  width: 100%;
  opacity: 1;
}
.faded { 
  opacity: .6 !important;
}

#home .title2 {
  -moz-transform: rotate(-180deg);  /* FF3.5+ */
  -o-transform: rotate(-180deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-180deg);  /* Safari 3.1+, Chrome */
  text-align: right;
  font-weight: bold;
  text-shadow: 1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;
}

.staff .alex {
  float: right;
  margin-right: 3em;
}

footer .copyright p {
  text-align: center;
  text-transform: uppercase;
}

.service_box img {
  height: 175px;
}

// floating slider text
.slide_text {
position: absolute !important;
top: 5em !important;
}

.portfolio_intro {
background-image: url(../image/custom/port-intro-frances.jpg);
}
.about_us_intro {
background-image: url(../image/custom/port-team-ml.jpg);
}
.contact_us_intro {
background-image: url(../image/custom/port-contact-puppy.jpg);

